<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Expenses</title>
        <link rel="stylesheet" href="/css/expenses.css">
        <script type="text/javascript" src="features.js"></script>
    </head>
    <body>
        <%- include('navbar') %>
        <div class="body">
            <div class="top-row">
                <h1>Expenses</h1>
                <a class="back-btn" href="/"><img src="/images/back-icon.png" width="24px" height="24px">Back</a>
            </div>

            <div class="expenses-table-div" id="expenses-table-div">
                <div class="add-btn-div">
                    <button  class="add-btn" onclick="togglePopUp()"><img src="/images/add-icon.png" width="24px" height="24px">Add New Expense</button>
                </div>
                <table class="expenses-table">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Payment Day</th>
                        <th>Added</th>
                        <th>Last Edited</th>
                        <th>Actions</th>
                    </tr>
                    <%if (expensesData[0] == null) { %>
                        <td colspan="9"><h2>No data found!</h2></td>
                    <% } else {
                        for (let i = 0; i < expensesData.length; i++) { %>
                            <tr>
                                <td><%= expensesData[i].name %></td>
                                <td><%= expensesData[i].description %></td>
                                <td><%= expensesData[i].type %></td>
                                <td><%= expensesData[i].amount %>€</td>
                                <td><%= expensesData[i].paymentDay %></td>
                                <td><%= expensesData[i].dateAdded %></td>
                                <td><%= expensesData[i].lastEditDate %></td>
                                <td>
                                    <a class="btn-open-popup" id="edit" href="/editPages/expense/<%= expensesData[i].id %>"><img src="/images/edit-icon.png" width="24px" height="24px">Edit</a>
                                    <a id="remove" href="/delete/expense/<%= expensesData[i].id %>"><img src="/images/delete-icon.png" width="24px" height="24px">Delete</a>
                                </td>
                            </tr>
                    <% } } %>
                </table>
            </div>
        </div>

        <!-- Add New Button Popup-->
        <div class="popup">
            <div id="popupOverlayAdd" class="overlay-container"> 
                <div class="popup-box"> 
                    <h2>Add New Expense</h2> 
                    <form class="form-container" method="post" id="addExpenseForm"> 
                        <label class="form-label" for="name"><h3> Name: </h3></label> 
                        <input class="form-input" type="text" placeholder="Insert Name" id="name" name="name" required> 
                        <label class="form-label" for="description"><h3> Description: </h3></label> 
                        <input class="form-input" type="text" placeholder="Insert Description" id="description" name="description" required> 
                        <label class="form-label" for="type"><h3>Type: </h3></label> 
                        <select  class="form-input" type="text" id="type" name="type" required>
                            <option hidden>Insert Type</option>
                            <option value="Rent">Rent</option>
                            <option value="Utilities">Utilities</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Operating expenses">Operating expenses</option>
                            <option value="Leisure goods">Leisure goods</option>
                        </select>
                        <label class="form-label" for="paymentDay"><h3>Payment Day: </h3></label>
                        <select class="form-input" type="text" id="paymentDay" name="paymentDay" required>
                            <option hidden>Insert Payment Day</option>
                            <option value="Last day of the month">Last day of the month</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Biweekly">Biweekly</option>
                            <option value="Every Monday">Every Monday</option>
                            <option value="Every Tuesday">Every Tuesday</option>
                            <option value="Every Wednesday">Every Wednesday</option>
                            <option value="Every Thursday">Every Thursday</option>
                            <option value="Every Friday">Every Friday</option>
                        </select>
                        <label class="form-label" for="amount"> <h3>Amount: </h3></label> 
                        <input class="form-input" type="text" placeholder="Insert Amount" id="amount" name="amount" required>
                        <input class="btn-submit" type="submit" value="Submit">
                    </form> 
                    <button id="close" class="btn-close-popup" onclick="togglePopUp()"> Close </button> 
                </div> 
            </div> 
        </div>
    </body>
</html>