<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Liquid Income</title>
        <link rel="stylesheet" href="/css/liquid-income.css">
        <script type="text/javascript" src="features.js"></script>
    </head>
    <body>
        <%- include('navbar') %>
        <div class="body">
            <div class="top-row">
                <h1>Liquid Incomes</h1>
                <a class="back-btn" href="/"><img src="/images/back-icon.png" width="24px" height="24px">Back</a>
            </div>

            <div class="liquid-income-table-div" id="liquid-income-table-div">
                <div class="add-btn-div">
                    <button  class="add-btn" onclick="togglePopUp()"><img src="/images/add-icon.png" width="24px" height="24px">Add New Liquid Income</button>
                </div>
                <table class="liquid-income-table">
                    <tr>
                        <th>Name</th>
                        <th>Tax Aplied</th>
                        <th>Amount</th>
                        <th>Added</th>
                        <th>Last Edited</th>
                        <th>Actions</th>
                    </tr>
                    <% if (liquidIncomeData[0] == null) { %>
                        <td colspan="9"><h2>No data found!</h2></td>
                    <% } else {
                            for (let i=0; i < liquidIncomeData.length; i++) { %>
                                <tr>
                                    <td><%= liquidIncomeData[i].name %></td>
                                    <td><%= liquidIncomeData[i].percentage %>%</td>
                                    <td><%= liquidIncomeData[i].amount %>€</td>
                                    <td><%= liquidIncomeData[i].dateAdded %></td>
                                    <td><%= liquidIncomeData[i].lastEditDate %></td>
                                    <td>
                                        <a id="remove" href="/delete/liquidIncome/<%= liquidIncomeData[i].id %>"><img src="/images/delete-icon.png" width="24px" height="24px">Delete</a>
                                    </td>
                                </tr>
                     <% } } %>      
                </table>
            </div>
        </div>

        <!-- Add New Button PopUp-->
        <div class="popup">
            <div id="popupOverlayAdd" class="overlay-container"> 
                <div class="popup-box"> 
                    <h2>Add New Liquid Income</h2> 
                    <form class="form-container" method="post" id="addLiquidIncomeForm"> 
                        <label class="form-label" for="incomeId"><h3>Income String: </h3></label>
                        <select class="form-input" type="number" id="incomeId" name="incomeId" required>
                            <option hidden>Insert Income String</option>
                            <%  if (incomeSelect[0] == null) { %>
                                <option disabled>No income strings available</option>
                            <% } else { 
                                    for (let i=0; i < incomeSelect.length; i++) { %>
                                        <option value="<%= incomeSelect[i].id %>"><%= incomeSelect[i].name %> - <%= incomeSelect[i].amount %>€</option>
                            <% } } %>
                        </select>
                        <label class="form-label" for="taxId"><h3>Tax: </h3></label>
                        <select class="form-input" type="number" id="taxId" name="taxId" required>
                            <option hidden>Insert Tax</option>
                            <%  if (taxSelect[0] == null) { %>
                                <option disabled>No taxes available</option>
                            <% } else { 
                                    for (let i=0; i < taxSelect.length; i++) { %>
                                        <option value="<%= taxSelect[i].id %>"><%= taxSelect[i].name %> - <%= taxSelect[i].percentage %>%</option>
                            <% } } %>
                        </select>
                        <input class="btn-submit" type="submit" value="Submit">
                    </form> 
                    <button id="close" class="btn-close-popup" onclick="togglePopUp()"> Close </button> 
                </div> 
            </div> 
        </div>
    </body>
</html>