<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Taxes</title>
        <link rel="stylesheet" href="/css/taxes.css">
        <script type="text/javascript" src="features.js"></script>
    </head>
    <body>
        <%- include('navbar') %>
        <div class="body">
            <div class="top-row">
                <h1>Taxes</h1>
                <a class="back-btn" href="/"><img src="/images/back-icon.png" width="24px" height="24px">Back</a>
            </div>

            <div class="taxes-table-div" id="taxes-table-div">
                <div class="add-btn-div">
                    <button class="add-btn" onclick="togglePopUp()"><img src="/images/add-icon.png" width="24px" height="24px">Add New Tax</button>
                </div>
                <div style="overflow-x: auto;" class="taxes-table-responsivity">
                    <table class="taxes-table">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Percentage</th>
                            <th>Method</th>
                            <th>Added</th>
                            <th>Last Edited</th>
                            <th>Actions</th>
                        </tr>
                        <%if (taxesData[0] == null) { %>
                            <td colspan="9"><h2>No data found!</h2></td>
                        <% } else {
                            for (let i = 0; i < taxesData.length; i++) { %>
                                <tr>
                                    <td><%= taxesData[i].name %></td>
                                    <td><%= taxesData[i].description %></td>
                                    <td><%= taxesData[i].percentage %>%</td>
                                    <td><%= taxesData[i].method %></td>
                                    <td><%= taxesData[i].dateAdded %></td>
                                    <td><%= taxesData[i].lastEditDate %></td>
                                    <td>
                                        <a class="btn-open-popup" id="edit" href="/editPages/tax/<%= taxesData[i].id %>"><img src="/images/edit-icon.png" width="24px" height="24px">Edit</a>
                                        <a id="remove" href="/delete/tax/<%= taxesData[i].id %>"><img src="/images/delete-icon.png" width="24px" height="24px">Delete</a>
                                    </td>
                                </tr>
                        <% } } %>
                    </table>
                </div>
            </div>
        </div>

        <!-- Add New Button Popup-->
        <div class="popup">
            <div id="popupOverlayAdd" class="overlay-container"> 
                <div class="popup-box"> 
                    <h2>Add New Tax</h2> 
                    <form class="form-container" method="post" id="addTaxesForm"> 
                        <label class="form-label" for="name"><h3> Name: </h3></label> 
                        <input class="form-input" type="text" placeholder="Insert Name" id="name" name="name" required> 
                        <label class="form-label" for="description"><h3> Description: </h3></label> 
                        <input class="form-input" type="text" placeholder="Insert Description" id="description" name="description" required> 
                        <label class="form-label" for="percentage"><h3>Percentage: </h3></label> 
                        <input class="form-input" type="number" placeholder="Insert Percentage" id="percentage" name="percentage" required>
                        <label class="form-label" for="method"><h3>Method: </h3></label> 
                        <select class="form-input" type="text" id="method" name="method" required>
                            <option hidden>Insert Method</option>
                            <option value="Flat">Flat</option>
                            <option value="Stacking">Stacking</option>
                        </select>
                        <input class="btn-submit" type="submit" value="Submit">
                    </form> 
                    <button id="close" class="btn-close-popup" onclick="togglePopUp()"> Close </button> 
                </div> 
            </div> 
        </div>
    </body>
</html>